@import "./utilities/variables";
@import "./utilities/extends";
@import "./layout/header";
@import "./layout/descubrir";
@import "./layout/footer";
@import "./layout/main";

* {
  font-family: "Montserrat", sans-serif;
}
.oscurecer-fondo {
  position: absolute;

  height: 100%;
  width: 100%;
  background-color: $fondoOscuroColor;
}
