.flex-container-descubrir {
  @extend %flexComponentesVertical;
}
.descubrir-card {
  height: 15rem;
  width: 15rem;
  background-image: url(../img/descubriFoto.avif);

  border-radius: 0.5rem;
}

@media only screen and (min-width: 800px){
  .flex-container-descubrir{
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}